@import '../../common/variables';
@import '../../common/mixins';

.app-bar {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  background-color: $primary;

  h3 {
    color: $text-color-light;
  }

  .app-bar-buttons {
    display: flex;
    justify-content: space-between;
    width: 124px;

    a.active {
      .#{$ns}-button {
        background-color: $primary-3;
        &:hover {
          background-color: darken($primary-3, 5%);
        }
      }
    }

    .#{$ns}-button-group:not(.#{$ns}-minimal) > .#{$ns}-button,
    .#{$ns}-button-group:not(.#{$ns}-minimal) > .#{$ns}-popover-wrapper .#{$ns}-button {
      margin: 0;
    }

    .#{$ns}-button {
      width: 30px;
      height: 30px;
      padding: 4px;

      &:focus {
        outline: 0;
      }

      @include interactive(darken($primary-2, 5%));

      svg {
        width: 20px;
        height: 20px;
        color: $text-color-light;
      }
    }
  }
}
