@import './variables';
@import './mixins';
@import './components';

*:not(body):not(#app) {
  box-sizing: border-box;
}

html {
 min-height: 100vh;
}

body {
  font-family: 'Open Sans';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

div#app {
  min-height: 100vh;

  main {
    width: 100%;
    padding: 16px;
    margin-top: 48px;
    padding-bottom: $footer-height;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu';
  &.subtitle {
    color: $text-color-dark-muted;
  }
}

.fade-enter {
  opacity: 0.01;

  &#{&}-active {
    opacity: 1;
    transition: opacity 75ms ease-in;
  }
}
.fade-exit {
  opacity: 1;

  &#{&}-active {
    opacity: 0.01;
    transition: opacity 75ms ease-in;
  }
}

div.transition-group {
  position: relative;
}

div.router-switch {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
