$ns: 'bp3';

// normalize.css and @blueprint/(core|icons) in dll

// colors
$primary: #05668d;
$primary-2: #028090;
$primary-2: #00a896;
$primary-3: #02c39a;
$secondary: #ff8c42;
$tertiary: #f87575;
$quarternary: #f0f3bd;

$primary-dark: #044e6b;
$primary-2-dark: #02616d;
$primary-3-dark: #007e72;
$primary-4-dark: #019474;
$secondary-dark: #f15c00;
$tertiary-dark: #f32020;
$quarternary-dark: #dce263;

$text-color-light: #efefef;
$text-color-light-muted: #dddddd;
$text-color-dark: #000000;
$text-color-dark-muted: #696969; // nice

$footer-height: 2.5rem;

$intents: (
  'primary': lighten($primary, 5%),
  'success': darken($primary-3, 5%),
  'warning': darken($secondary, 5%),
  'danger': lighten($tertiary-dark, 5%),
);
